<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <settings>
        <setting propertyKey="@Properties.relayUrl" title="@Strings.RelayUrlTitle" prompt="@Strings.RelayUrlPrompt">
            <settingConfig type="url"/>
        </setting>
        <setting propertyKey="@Properties.relayToken" title="@Strings.RelayTokenTitle" prompt="@Strings.RelayTokenPrompt">
            <settingConfig type="password"/>
        </setting>
        <setting propertyKey="@Properties.relayIntervalSeconds" title="@Strings.RelayIntervalTitle" prompt="@Strings.RelayIntervalPrompt">
            <settingConfig type="numeric" min="30" max="600"/>
        </setting>
    </settings>
</resources>
